n8n-workflows/test_slack_thread_reply.json
{
  "name": "Test Slack Thread Reply",
  "nodes": [
    {
      "parameters": {},
      "id": "manual_trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Test data - configured for real message\nreturn [{\n  json: {\n    channel: 'C08V21QL6KB',  // jordan-test channel\n    ts: '1771332463.941259',  // Real message timestamp from Slack\n    testMessage: '✅ **Test Reply** - This should appear in thread!\\n\\nIf you see this in a thread, it works! 🎯'\n  }\n}];"
      },
      "id": "test_data",
      "name": "Test Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        0
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channelId": "={{ $json.channel }}",
        "text": "={{ $json.testMessage }}",
        "options": {
          "makeReply": {
            "makeReply": true,
            "value": "={{ $json.ts }}"
          }
        }
      },
      "id": "slack_reply",
      "name": "Slack Reply in Thread",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        600,
        0
      ],
      "credentials": {
        "slackApi": {
          "id": "sTJ0exGap7wzJAnr",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Data": {
      "main": [
        [
          {
            "node": "Slack Reply in Thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
